[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
grpclib = "==0.3.1"
grpcio = "==1.28.1"
grpcio-tools = "==1.28.1"
protobuf = "==3.11.3"

[requires]
python_version = "3.7"
